body{
background-color:pink;
}

.footer
{
position:fixed;
left:0;
bottom:0;
background-color:grey;
height:50px;
width:100%;
text-align:center
}
.form-center {
    margin: 0 auto;
    text-align: center;
}